autopep8==1.5.2
beautifulsoup4==4.7.1
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
et-xmlfile==1.0.1
flake8==3.8.1
idna==2.8
IMAPClient==2.1.0
jdcal==1.4.1
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.4
openpyxl==2.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.0
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2020.1
pyzmail36==1.0.4
requests==2.21.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0
urllib3==1.24.3